ul {
  list-style: none;
}

nav {
  height: 8vh;
  padding: 1rem 1rem;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
}

nav .right {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.logo {
  width: 3rem;
}

.cart-logo {
  width: 3rem;
  height: auto;
}

nav a {
  text-decoration: none;
  color: black;
}

.cart {
  cursor: pointer;
}
