ul {
  list-style: none;
}

nav {
  height: 7vh;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
}

nav .right {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.logo {
  width: 3rem;
}

.cart-logo {
  width: 3rem;
  height: auto;
}

nav a {
  text-decoration: none;
  color: black;
}
