/* cart relative to main section */
#root {
  position: relative;
}

.cart {
  background-color: white;
  position: fixed;
  right: 0;
  width: 7rem;
  height: 7rem;
  border: 0.2rem solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}

.cart img {
  width: 5rem;
  height: 5rem;
}

.cart p {
  position: absolute;
  top: 50%;
  right: 50%;
  width: 3rem;
  height: 3rem;
  background-color: pink;
  border-radius: 50%;
  text-align: center;
  font-size: 2rem;
}

.products {
  padding: 2rem 1.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  gap: 2rem;
  background-color: #f5f5f5;
}

.products img {
  width: 30rem;
  height: 18rem;
}

.product-card {
  height: 32rem;
  width: 30rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  transition: all 0.5s;
}

.product-card h3,
.product-card p {
  padding: 0 1rem;
}

.product-card h3 {
  font-size: 2rem;
}

.product-card p {
  font-size: 2rem;
}

.product-card .add-to-cart-btn {
  margin: 1.5rem auto;
  width: 95%;
  padding: 1rem;
  font-size: 1.6rem;
  border: 0.2rem solid #0c4b23;
  color: #0c4b23;
  background-color: white;
  transition: all 0.4s;
}

.product-card .add-to-cart-btn:hover {
  color: white;
  background-color: #0c4b23;
  box-shadow: 0.5rem 0.2rem 0.5rem #0c4b23;
}

.product-card:hover {
  box-shadow: 0.6rem 0.3rem 0.6rem #0c4b23;
  cursor: pointer;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.product-card input[type="number"] {
  width: 20%;
  height: 2rem;
  border: none;
  border-radius: 2px;
  text-align: center;
  box-shadow: 0.2rem 0.2rem 0.5rem white;
}

.product-card .form {
  display: flex;
  align-items: center;
  height: 2rem;
  padding: 0 1rem;
}

.product-card .form button {
  padding: 0 1rem;
  height: 2rem;
  background-color: #3d6f4f;
  color: white;
  border: none;
  border-radius: 2px;
  box-shadow: 0.2rem 0.2rem 0.5rem #0c4b23;
  font-size: 2rem;
}

.product-card .form button:hover {
  color: white;
  background-color: #0c4b23;
  box-shadow: 0.5rem 0.2rem 0.5rem #0c4b23;
}

.add-to-cart-btn {
  width: 100%;
}

.product-card button:disabled {
  background-color: #6d937b;
  color: #cccccc;
}

.product-card button:disabled:hover {
  background-color: #6d937b;
  color: #cccccc;
  cursor: not-allowed;
  box-shadow: none;
}
